<div>
  <div class="w-[60%] h-16 bg-white rounded-2xl mx-auto drop-shadow-lg">
    <form autocomplete="off" action="" (ngSubmit)="onSubmit()">
      <div class="flex ml-4 text-tsec">
        <div class="flex items-center gap-2">
          <div class="w-6 h-6 rounded-full bg-white border-[5px] border-tsec"></div>
          <input required [(ngModel)]="startLocation" (input)="searchStartLocations()" class=" h-16 outline-none placeholder:text-tsec placeholder:text-xl" type="text" name="start" placeholder="Leaving from..." id="">
          <div class=" mt-4 absolute top-20  w-[518px] bg-[#ededed] rounded-xl border-2 border-mblue"  *ngIf="onStartHide">
            <div class="hover:bg-white rounded-xl"  *ngFor="let start of startLocationsuggestions">
              <div class="cursor-pointer ml-4" (click)="setStartLocation(start)">
                <div class="flex items-center">
                  <img class="w-[35px] h-[35px]" src="../../assets/marker.svg" alt="">
                  <h1 class="py-4 ml-2 text-mblue">{{ start.placeName }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <div class="w-[1px] h-10 bg-gray-400"></div>
          <div class="ml-2 w-6 h-6 rounded-full bg-white border-[5px] border-tsec"></div>
          <input required [(ngModel)]="endLocation" (input)="searchEndLocations()" class=" h-16 outline-none placeholder:text-tsec placeholder:text-xl" type="text" name="end" placeholder="Going to..." id="">
          <div class=" mt-4 absolute top-20  w-[518px] bg-[#ededed] rounded-xl border-2 border-mblue"  *ngIf="onEndHide">
            <div class="hover:bg-white rounded-xl"  *ngFor="let end of endLocationsuggestions">
              <div class="cursor-pointer ml-4" (click)="setEndLocation(end)">
                <div class="flex items-center">
                  <img class="w-[35px] h-[35px]" src="../../assets/marker.svg" alt="">
                  <h1 class="py-4 ml-2 text-mblue">{{ end.placeName }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center gap-2 ml-2">
          <div class="w-[1px] h-10 bg-gray-400"></div>
          <input required [(ngModel)]="date" class="ml-2 mr-4 h-16 outline-none placeholder:text-tsec placeholder:text-xl" name="date" type="date" appDateInput>
          <div class="w-[1px] h-10 bg-gray-400"></div>
        </div>
        <div class=" flex items-center gap-2 ml-4">

          <img class="ml-2 w-8 h-8" src="../../assets/accs copy.svg" alt="">
          <input required [(ngModel)]="seat" class="w-12 h-16 outline-none placeholder:text-tsec placeholder:text-xl" type="number" name="seat"  [defaultValue]="1" min="1" id="">
        </div>
        <div class="relative">
          <svg *ngIf="isLoading" class="absolute animate-spin h-6 w-6 top-[20px] left-[150px] mr-3 border-x-2 rounded-full text-white" viewBox="0 0 24 24"></svg>
          <button type="submit" class="ml-[120px] w-56 h-16 text-white bg-mblue rounded-r-2xl">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
