<div class="w-[80%] flex mx-auto gap-24 mt-12">
  <div>
    <div class="w-[550px] mx-auto ">
      <h1 class="text-tmain font-extrabold text-4xl pl-4">Publish a ride</h1>
      <h1 class="pl-4 mb-1 text-tsec text-xl">Enter your ride details to continue</h1>
      <form autocomplete="off" class="p-4 relative" action="" (ngSubmit)="onSubmit()" >
        <input (focus)="startOnFocus()" type="text" [(ngModel)]="startLocation" (input)="searchLocations()" class="mb-6 p-4 h-16 w-full rounded-xl bg-[#ededed] text-tmain placeholder:text-tsec focus:border-mblue focus:outline-none focus:border-2" name="start " placeholder="Start location" id="">
        <div class=" mt-4 absolute top-20  w-[518px] bg-[#ededed] rounded-xl border-2 border-mblue"  *ngIf="onStartHide">
          <div class="hover:bg-white rounded-xl"  *ngFor="let start of startLocationsuggestions">
            <div class="cursor-pointer ml-4" (click)="setStartLocation(start)">
              <div class="flex items-center">
                <img class="w-[35px] h-[35px]" src="../../assets/marker.svg" alt="">
                <h1 class="py-4 ml-2 text-mblue">{{ start.placeName }}</h1>
              </div>

            </div>
          </div>
        </div>
        <input (focus)="endOnFocus()" type="text" [(ngModel)]="endLocation" (input)="searchEndLocation()" class="mb-6 p-4 h-16 w-full rounded-xl bg-[#ededed] text-tmain placeholder:text-tsec focus:border-mblue focus:outline-none focus:border-2" name="end " placeholder="End location" id="">
        <div class=" mt-4 absolute top-40  w-[518px] bg-[#ededed] rounded-xl border-2 border-mblue" *ngIf="onEndHide">
          <div class="hover:bg-white rounded-xl" *ngFor="let end of endLocationsuggestions">
            <div class="cursor-pointer ml-4" (click)="setEndLocation(end)">
              <div class="flex items-center">
                <img class="w-[35px] h-[35px]" src="../../assets/marker.svg" alt="">
                <h1 class="py-4 ml-2 text-mblue">{{ end.placeName }}</h1>
              </div>
            </div>
          </div>
        </div>
        <button routerLink="/rideDetails" class="w-full mt-6 h-16 text-white bg-mblue rounded-xl">Next</button>
      </form>
    </div>
  </div>
  <app-mapbox></app-mapbox>
  <app-navigation></app-navigation>

</div>


