<div class="w-[550px] mx-auto mt-12">
  <h1 class="text-tmain font-extrabold text-4xl pl-4">Log In</h1>
  <h1 class="pl-4 mb-1 text-tsec text-xl">Enter your credentials to continue</h1>
  <form class="p-4" action="" (ngSubmit)="onLogin()" >
    <input [(ngModel)]="formData.email" class="mb-6 p-4 h-16 w-full rounded-xl bg-[#ededed] text-tmain placeholder:text-tsec focus:border-mblue focus:outline-none focus:border-2" type="email" name="email " placeholder="Email" id="">
    <input [(ngModel)]="formData.password" class="mb-4 p-4 h-16 w-full rounded-xl bg-[#ededed] text-tmain placeholder:text-tsec focus:border-mblue focus:outline-none focus:border-2" type="password" name="password " placeholder="Password" id="">
    <div>
      <p class="text-tsec">By continuing you agree to our <span class="text-mblue cursor-pointer">Terms of Service
        and Privacy Policy.</span> </p>
        <p class="text-tsec">Not a member? <span class="text-mblue cursor-pointer" routerLink="/registration">Sign Up</span></p>
    </div>
    <button type="submit" class="w-full mt-6 h-16 text-white bg-mblue rounded-xl">Log In</button>
  </form>
</div>
